
.footer {
	background-color: #ebe8e5;
	border-bottom: 4px solid $color-arylex;
	padding-top: 50px;
	font-size: 14px;
	color: #8d827a;

	.nav-footer {
		text-align: right;
		margin-bottom: 20px;
		margin-top: -5px;
		font-size: 13px;
		ul {
			@extend .list-inline;
			li {
			    line-height: 2;
				padding: 0 10px;
				a {
					&:hover {
						color: grey;
						text-decoration: none;
					}
				}
			}
			margin: 0;
		}
	}

	.search-form {
		float: right;
		.search-field {
			border: none;
			background-color: #f5f4f2;
		}
	}

	.bulletin-form {
		max-width: 338px;
		line-height: 38px;
		position: relative;
		.email-field {
			border: none;
			color: #968c83;
			font-size: 11px;
			width: 100%;
			background-color: #f5f4f2;
			padding-left: 15px;
			padding-right: 120px;
		}
		.bulletin-submit {
			@extend .button;
			margin: 0;
			line-height: 24px;
			font-size: 10px;
			background-color: transparent;
			text-transform: uppercase;
			letter-spacing: 2px;
	    	min-width: 90px;
			position: absolute;
			top: 5px;
			right: 5px;
		}
		.errors {

		}
	}

	ul.rrss {
		@extend .list-inline;
		margin: 0;
		li {
			margin-right: 15px;
			padding: 0;
			a {
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 99px;
				text-indent: -9999px;
				transition: all 0.15s ease-out;
				background-color: rgba(255, 255, 255, 0.6);
				background-position: center;
				background-repeat: none;
				&.facebook {background-image: url('../svg/icon-facebook.svg');}
				&.twitter {background-image: url('../svg/icon-twitter.svg');}
				&.linkedin {background-image: url('../svg/icon-linkedin.svg');}
				&.youtube {background-image: url('../svg/icon-youtube.svg');}
				&:hover {background-color: rgba(255, 255, 255, 1);}
			}
		}
	}

	.copyright {
		font-size: 9px;
		padding: 40px 0 20px;
		.logo-footer {
			width: 170px;
			height: 25px;
			margin-right: 5px;
			display: inline-block;
			text-indent: -9999px;
			vertical-align: middle;
		}
		.logo-dow {
			background: url('../svg/logo-dow.svg') no-repeat center;
		}
		.logo-solutions {
			width: 170px;
			background: url('../svg/logo-solutions.svg') no-repeat center;
		}
	}


	@media (max-width: $screen-md-max) {
		.copyright {
			.logo-footer {
				margin-bottom: 15px;
			}
			> span:last-child {
				display: block;
			}
		}
	}


	@media (max-width: $screen-xs-max) {
		padding-top: 32px;
		> .container {
			padding-left: 38px;
			padding-right: 38px;
		}
		.nav-footer {
			font-size: 16px;
			text-align: left;
			ul {
				li {
					display: block;
					padding: 5px 0;
				}
			}
		}
		.search-form {
			float: none;
			margin-bottom: 30px;
		}
		.bulletin-form {
			margin-bottom: 20px;
		}
		.copyright {

		}
	}

	@media (max-width: 480px) {
		> .container {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}



