@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.search-form .search-field {
		height: 40px;
		line-height: normal;
	}
	.footer .bulletin-form .email-field {
		height: 40px;
	}
	.form-type {
		input[type="text"], input[type="email"], input[type="password"] {
			height: 40px;
		}
	}
}
